/*fonts*/
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2"),
  url("../fonts/TTNorms-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
  url('../fonts/TTNormsPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2"),
  url("../fonts/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*general styles*/
.body {
  padding: 0;
  margin: 0;
  font-family: "TT Norms", "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.main {
  width: 1920px;
  padding: 0 20px;
  display: flex;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
/* CHAT DASHBOARD */
.chat-dashboard {
  width: 290px;
  background: #FFFFFF;
  box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
  padding: 92px 38px 48px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 84px;
}
.user-info img {
  display: block;
  width: 86px;
  height: 86px; 
  background: #C4C4C4;
  border: 5px solid #FFFFFF;
  margin-bottom: 15px;
}
#username {
  border: none;
}
#username option {
  margin-left: 5px;
}
#username:focus {
  outline: none;
}
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-item,
.log-out {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}
.navigation-item:last-child {
  margin-bottom: 311px;
}
.navigation-item div,
.log-out-img {
  display: inline-block;
  margin-right: 17px;
  width: 24px;
  height: 24px;
}
.navigation-item:nth-child(1) .home-img {
  background-image: url("../img/home.svg");
}
.navigation-item:nth-child(1):active .home-img {
  background-image: url("../img/b-home.svg");
}
.navigation-item:nth-child(2) .chat-img {
  background-image: url("../img/icon-chat.svg");
}
.navigation-item:nth-child(2):active .chat-img {
  background-image: url("../img/b-chat.svg");
}
.navigation-item:nth-child(3) .contact-img {
  background-image: url("../img/person.svg");
}
.navigation-item:nth-child(3):active .contact-img {
  background-image: url("../img/b-person.svg");
}
.navigation-item:nth-child(4) .notifications-img {
  background-image: url("../img/bell.svg");
}
.navigation-item:nth-child(4):active .notifications-img {
  background-image: url("../img/b-bell.svg");
}
.navigation-item:nth-child(5) .calendar-img {
  background-image: url("../img/calendar.svg");
}
.navigation-item:nth-child(5):active .calendar-img {
  background-image: url("../img/b-calendar.svg");
}
.navigation-item:nth-child(6) .settings-img {
  background-image: url("../img/settings.svg");
}
.navigation-item:nth-child(6):active .settings-img {
  background-image: url("../img/b-settings.svg");
}
.navigation-list-link,
.log-out-link {
  display: inline-block;
  text-decoration: none;
  color: #707c97;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navigation-item:active .navigation-list-link {
  color: #2A8BF2;
}
.navigation-item:active .active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 40px;
  box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
  border-radius: 3px;
  background: #2A8BF2;
}
.log-out-img {
  background-image: url("../img/power.svg");
}
